---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allpost = await Astro.glob('../pages/posts/*.md')

const pageTitle = "My Blog"
const pageName = 'blog'
---

<BaseLayout pageTitle={pageTitle} pageName={pageName}>
    <div class="mx-20 mt-6 flex justify-between">
        <p class="text-center w-1/2 m-2 p-4 bg-slate-400">My Astro Learning Blog</p>
        <br>
        <p class="text-center w-1/2 m-2 p-4 bg-slate-300">
            This is where I will post about my journey learning Astro.
        </p>
    </div>
    <ul class="text-center">
        {allpost.map((post)=> <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>